.user {
    margin-top: 2px;
    height: 70vh;
}

.user .category{
    height: 100%;
}

.user .category .box{
    padding: 12px;
    margin-bottom: 10px;
}
.user .category .box:last-of-type{
    margin-bottom: 0px;
}

.settings,.profile,
.security,.payment{
    height: 65vh;
    padding-top: 10px;
    overflow: auto;
}

.payment::-webkit-scrollbar,
.profile::-webkit-scrollbar {
    width: 0;
}
.payment::-webkit-scrollbar-thumb,
.profile::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.settings h1,.security h1,
.payment h1, .profile h1{
    font-size: 45px;
}

.settings label,.security label,
.payment label, .profile label{
    margin-top: 10px;
}