.cart-items{
    background-color: #f6f9fc;
    height: auto;
    padding: 50px 0;
}

.cart-items .cart-details{
    width: 70%;
}

.cart-items .cart-total{
    width: 30%;
    margin-left: 30px;
    height: 165px;
}

.cart-list{
    background-color: white;
    margin-bottom: 30px;
}

.cart-list .img{
    height: 150px;
    width: 150px;
}

.cart-list .img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.cart-items .cart-details h4{
    font-size: 20px;
    font-weight: 500px;
    margin-top: 20px;
}

.cart-items .cart-details h4{
    font-size: 14px;
    font-weight: 400px;
    margin-top: 50px;
    color: grey;
}

.cart-items h4 span{
    color: #e94560;
    margin-left: 20px;
    font-weight: 500;
}

.removeCart{
    background: none;
    font-size: 25px;
    text-align: right;
    margin-right: 10px;
}

.cartControl{
    margin-top: 50px;
}

.cartControl button{
    height: 40px;
    width: 40px;
    margin: 10px;
    border-radius: 5px;
    font-size: 20px;
}

.incCart{
    background-color: none;
}

.descCart{
    background-color: #f6f9fc;
}

.cart-total{
    height: 200px;
}

.cart-total h4{
    font-size: 15px;
    font-weight: 400;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 500;
    color: #e94560;
}

.cart-total h2{
    font-size: 18px;
    border-bottom: 1px solid rgb( 3 0 71 / 9%);
    padding-bottom: 10px;
    color: #e94560;
}

.no-items{
    font-size: 18px;
    height: 130px;
    color: #e94560;
}

.cart-total button{
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
    background-color: #e94560;
    color: #fff;
}

.cart-total #error{
    font-size: 12px;
    text-align: center;
    color: #e94560;
}