footer {
    background-color: #e94560;
    padding: 100px 0;
    color: #fff;
}

footer h1 {
    margin-bottom: 30px;
    color: #fff;
    font-weight: 800;
    font-style: italic;
}

footer .img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

footer .img i {
    font-size: 18px;
    margin: 5px;
}

footer .img span {
    font-size: 14px;
}

footer p {
    font-size: 14px;
    font-weight: 300;
    opacity: 0.8;
    margin-bottom: 20px;
}

footer h2 {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 16px;
}

footer li {
    margin-bottom: 10px;
    font-weight: 300;
    opacity: 0.8;
}

footer .box .icon{
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}